// ────────────── Startup Applications ──────────────
// https://github.com/YaLTeR/niri/wiki/Configuration:-Miscellaneous#spawn-sh-at-startup

    spawn-sh-at-startup "qs -c noctalia-shell"
    spawn-sh-at-startup "fcitx5 -d"
    // spawn-at-startup "dbus-update-activation-environment --systemd WAYLAND_DISPLAY XDG_CURRENT_DESKTOP"
    // spawn-at-startup "rog-control-center"
    // spawn-at-startup "wl-paste" "--type" "text" "--watch" "cliphist" "store"
    // spawn-at-startup "wl-paste" "--type" "image" "--watch" "cliphist" "store"


